apiVersion: v1
kind: Service
metadata:
  name: postgrest
  labels:
    app: postgrest
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: postgrest
---
apiVersion: v1
kind: Service
metadata:
  name: gotrue
  labels:
    app: gotrue
spec:
  type: ClusterIP
  ports:
    - port: 9999
      targetPort: 9999
      protocol: TCP
      name: http
  selector:
    app: gotrue
