version: '3.9'

services:
  service-layer:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/service_layer?sslmode=disable
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=service_layer
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
