@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: "Inter", system-ui, sans-serif;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }
}
