.neo-stats-grid {
  display: grid;
  gap: 15px;

  &-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 480px) {
    &-2,
    &-3,
    &-4 {
      grid-template-columns: 1fr;
    }
  }
}
