_format_version: "2.1"
services:
  - name: postgrest
    url: http://supabase-postgrest:3000
    routes:
      - name: postgrest
        paths: ["/rest"]
  - name: gotrue
    url: http://supabase-gotrue:9999
    routes:
      - name: gotrue
        paths: ["/auth"]
plugins:
  - name: cors
    service: postgrest
    config:
      origins:
        - "*"
      methods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      headers:
        - Authorization
        - apikey
        - Content-Type
        - X-Client-Info
      credentials: true
  - name: request-transformer
    service: postgrest
    config:
      add:
        headers:
          - "apikey:${SUPABASE_ANON_KEY}"
